################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SCP-Microservices/.vs/SCP-Microservices
